/* this coding created by web developer/ Ahmed fawzy mohamed */
/* personal email: ahmedfawzyalhegazy2020@gmail.com */
/* whatsapp: +201094848584 */
/* whatsapp: +201145476545 */
/* website: https://orion-comp.com/ */
/* formal email: info@orion-comp.com */
/* linkedin account: https://www.linkedin.com/in/ahmed-fawzy-mohamed-48a771202 */

/* start variable */
$stcolor: #244B68;

$ndcolor: #fff;

$textcolor: #62727E;

$whcolor: #fff;

$blcolor: #000;

$medium-font: 16px;

$large-font: 30px;

$main-transition: all .35s ease-in-out;
/* End variable */

/* start holder classes */
%abs-horizontal{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

%abs-vertical
{
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
}

%abs-alignment{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 50%;
    transform: translateY(50%);
}

%cover-background{
    -webkit-background-size: contain !important;
    -moz-background-size: contain !important;
    -o-background-size: contain !important;
    background-size: contain !important;
    background-repeat: round !important;
    width: 100% !important;
}

%cover-background-responsive{
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-repeat:no-repeat !important;
    width: 100% !important;
}

%main-paddcont{
    padding: 50px 0px;
}
/* End holder classes */

/* start classes */
.mainbtn{
    background-color: $stcolor;
    color: $whcolor;
    padding: 7px 15px;
    border-radius: 2px;
    border: 1px solid $stcolor;
    transition: $main-transition;
    &:hover{
        background-color: transparent;
        color: $stcolor;
        i{
            color: $stcolor !important;
        }
    }
}

.main-heading{
    text-align: center;
    margin-bottom: 50px;
    h3{
        position: relative;
        color: $stcolor;
        margin-bottom: 10px;
        display: inline-block;
        @media (max-width: 576px){
            font-size: 20px;
        }
        &::after{
            content: " ";
            display: block;
            width: 40px;
            height: 2px;
            background-color: $stcolor;
            @extend %abs-vertical;
            right: -55px;
            @media (max-width: 576px){
                display: none;
            }
        }
    }
    p{
        color: $textcolor;
    }
}

/* End classes */

/* starting the general */ 
.container{
    max-width: 1200px;
    margin: auto;
}
@font-face {
    font-family: Poppins-Medium;
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins-BlackItalic;
    src: url(../fonts/Poppins-BlackItalic.ttf);
}
body{
    font-family: 'Poppins-Regular';
    font-weight: normal;
    font-style: normal;
    text-align: left;
    background-color: #F1F9FC;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins-Medium';
}
a{
    text-decoration: none !important;
}
input:focus,
textarea:focus,
select:focus{
    outline: none;
}
section{
    overflow: hidden;
}
.row{
    width: 100%;
    margin: auto;
}

@keyframes ripple-white {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(36, 75, 104, 0.1), 0 0 0 20px rgba(36, 75, 104, 0.1), 0 0 0 40px rgba(36, 75, 104, 0.1);
        box-shadow: 0 0 0 0 rgba(36, 75, 104, 0.1), 0 0 0 20px rgba(36, 75, 104, 0.1), 0 0 0 40px rgba(36, 75, 104, 0.1)
    }
    100% {
        -webkit-box-shadow: 0 0 0 20px rgba(36, 75, 104, 0.1), 0 0 0 40px rgba(36, 75, 104, 0.1), 0 0 0 60px rgba(255, 255, 255, 0);
        box-shadow: 0 0 0 20px rgba(36, 75, 104, 0.1), 0 0 0 40px rgba(36, 75, 104, 0.1), 0 0 0 60px rgba(255, 255, 255, 0)
    }
}
/* End the general */


/* starting header */
header{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    .container{
        padding: 20px 0px;
        .row{
            > div{

                &:nth-of-type(1){
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    position: relative;
                    img{
                        width: 200px;
                    }
                    span{
                        display: none;
                        @extend %abs-vertical;
                        right: 20px;
                        width: 30px;
                        @media (max-width: 769px){
                            display: block;
                        }
                        i{
                            width: 30px;
                            height: 30px;
                            text-align: center;
                            line-height: 30px;
                            background-color: $stcolor;
                            color: $whcolor;
                            border-radius: 50%;
                            cursor: pointer;
                        }
                    }
                }

                ul{
                    margin: 0;
                    padding: 0;
                    text-align: right;
                    @media (max-width: 769px){
                        position: relative;
                        text-align: center;
                        background-color: #fff;
                        z-index: 999;
                        margin-top: 10px;
                        padding: 10px;
                        display: none;
                    }
                    li{
                        display: inline-block;
                        list-style: none;
                        padding: 0px 10px;
                        @media (max-width: 576px){
                            display: block;
                            margin-bottom: 5px;
                        }
                        a{
                            color: $stcolor;
                            display: inline-block;
                            padding: 5px 0px;
                            position: relative;
                            transition: $main-transition;
                            &::after{
                                content: " ";
                                display: block;
                                position: absolute;
                                width: 100%;
                                height: 1px;
                                background-color: $stcolor;
                            }
                            &::before{
                                content: " ";
                                display: block;
                                position: absolute;
                                width: 10px;
                                height: 5px;
                                border-radius: 2px;
                                left: 0;
                                bottom: 2px;
                                background-color: $stcolor;
                                transition: $main-transition;
                            }
                            &:hover{
                                &::before{
                                    left: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* End header */


/* starting hero */
.hero{
    // background: url(../images/hero-bg.jpg);
    // @extend %cover-background;
    // height: 100vh;
    // @media (max-width: 992px){
    //     -webkit-background-size: cover !important;
    //     -moz-background-size: cover !important;
    //     -o-background-size: cover !important;
    //     background-size: cover !important;
    //     background-repeat:no-repeat !important;
    //     background-position: right !important;
    // }
    .container{
        @extend %main-paddcont;
        @media (max-width: 769px){
            height: 100%;
        }
        .row{
            > div{
                position: relative; 
                &:nth-of-type(1){
                    @media (max-width: 769px){
                        height: 240px;
                    }
                }
                img{
                    width: 400px;
                    display: block;
                    margin-left: auto;
                    @media (max-width: 576px){
                        width: 200px;
                        margin: auto;
                        margin-top: -30px;
                    }
                    @media (min-width: 577px) and (max-width: 769px){
                        width: 300px;
                        margin-top: -100px;
                    }
                }
                .herocont{
                    @extend %abs-vertical;
                    left: 0;
                    h1{
                        font-family: 'Poppins-BlackItalic';
                        color: $stcolor;
                        position: relative;
                        display: inline-block;
                        margin-bottom: 50px;
                        @media (max-width: 992px){
                            font-size: 24px;
                        }

                        &::after{
                            content: " ";
                            display: block;
                            width: 50px;
                            height: 4px;
                            background-color: $stcolor;
                            @extend %abs-vertical;
                            right: -55px;
                        }
                    }
                    h5{
                        color: $textcolor;
                        @media (max-width: 992px){
                            font-size: 16px;
                        }
                    }
                    div{
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        a{

                        }
                        span{
                            margin-left: 50px;
                            i{
                                cursor: pointer;
                                border-radius: 50%;
                                color: $stcolor;
                                animation: ripple-white 1s linear infinite;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* End hero */


/* starting faq */
.faq{
    .container{
        @extend %main-paddcont;
        .row{
            > div{
                @media (max-width: 769px){
                    margin-bottom: 20px;
                }
                img{
                    width: 300px;
                    @media (min-width: 577px) and (max-width: 769px){
                        display: block;
                        margin: auto;
                    }
                }
                .quest{
                    position: relative;
                    width: 100%;
                    margin: auto;
                    margin-bottom: 14px;
                    padding: 0px;
                    cursor: pointer;
                    background-color: $whcolor;
                }
                h5{
                    color: $stcolor;
                    font-size: 16px;
                    padding: 15px 30px 15px 15px;
                    border-radius: 10px;
                    margin-bottom: 0px;
                    position: relative;
                    @media (max-width: 576px){
                        font-size: 14px;
                    }
                    i{
                        font-size: 24px;
                        color: $textcolor;
                        margin-right: 5px;;
                    }
                    &::after{
                        content: "\f106";
                        font-family: 'Flaticon';
                        position: absolute;
                        right: 10px;
                        top: 13px;
                        color: $stcolor;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        border-radius: 5px;
                        transition: all ease-in-out 0.4s;
                        @media (max-width: 769px){
                            right: 5px;
                        }
                    }
                    &.cssp{
                        &::after{
                            transform: rotate(-180deg);
                        }
                    }
                }
                p{
                    padding: 10px 20px;
                    font-size: 14px;
                    color: $textcolor;
                    display: none;
                }
            }
        }
    }
}
/* End faq */


/* starting custom */
.custom{
    .container{
        @extend %main-paddcont;
        .row{
            > div{
                @media (max-width: 769px){
                    margin-bottom: 30px;
                }
                h4{
                    position: relative;
                    color: $stcolor;
                    margin-bottom: 10px;
                    display: inline-block;
                    @media (max-width: 576px){
                        font-size: 18px;
                        width: 85%;
                    }
                    &::after{
                        content: " ";
                        display: block;
                        width: 40px;
                        height: 2px;
                        background-color: $stcolor;
                        @extend %abs-vertical;
                        right: -55px;
                    }
                }
                p{
                    color: $textcolor;
                    line-height: 2;
                    @media (max-width: 992px){
                        line-height: 1.5;
                    }
                }
                > div{
                    margin-top: 30px;
                }
                img{
                    width: 100%;
                    margin-top: -30px;
                    @media (max-width: 576px){
                        margin-top: 0px;
                    }
                    @media (min-width: 770px) and (max-width: 992px){
                        margin-top: 100px;
                    }
                }
            }
        }
    }
}
/* End custom */


/* starting comparison */
.comparison{
    .container{
        @extend %main-paddcont;
        .table{
            width: 85%;
            margin: auto;
            @media (max-width: 992px){
                width: 100%;
            }
            thead th{
                color: $stcolor;
                border-color: $textcolor;
                border-bottom: 1px solid $textcolor;
                &:nth-of-type(2){
                    background-color: $whcolor;
                }
                @media (max-width: 576px){
                    font-size: 13px;
                }
            }
            tbody td{
                color: $textcolor;
                border-color: $textcolor;
                &:nth-of-type(2){
                    background-color: $whcolor;
                }
                @media (max-width: 576px){
                    font-size: 13px;
                }
            }
        }
    }
}
/* End comparison */


/* starting savetime */
.savetime{
    .container{
        @extend %main-paddcont;
        > div{
            text-align: center;
            &:nth-of-type(2){
                margin-bottom: 50px;
            }
            p{
                width: 70%;
                margin: auto;
                color: $textcolor;
                text-align: justify;
                @media (max-width: 769px){
                    width: 100%;
                }
            }
        }
    }
}
/* End savetime */


/* starting statistics */
.statistics{
    .container{
        @extend %main-paddcont;
        .row{
            > div{
                @media (max-width: 769px){
                    margin: auto;
                    margin-bottom: 30px;
                    padding: 0px 5px;
                }
                .mainbox{
                    width: 160px;
                    height: 160px;
                    border-radius: 50%;
                    text-align: center;
                    background-color: $whcolor;
                    position: relative;
                    margin: auto;
                    box-shadow: 0px 0px 20px $textcolor;
                    transition: $main-transition;
                    &:hover{
                        background-color: $stcolor;
                        .inner{
                            color: $whcolor;
                        }
                    }
                    .inner{
                        @extend %abs-alignment;
                        width: 100%;
                        color: $stcolor;
                        transition: $main-transition;
                        i{
                            margin: 0px;
                            margin-bottom: 2px;
                            font-size: 30px;
                            transition: $main-transition;
                        }
                        h2{
                            margin-bottom: 0px;
                            font-size: 30px;
                            transition: $main-transition;
                        }
                        p{
                            font-size: 14px;
                            margin-bottom: 0px;
                            transition: $main-transition;
                        }
                    }
                }
            }
        }
    }
}
/* End statistics */


/* starting result */
.result{
    .container{
        @extend %main-paddcont;
        .row{
            > div{
                perspective: 1000px;
                margin-bottom: 30px;
                .mainbox{
                    background-color: $stcolor;
                    height: 250px;
                    width: 200px;
                    margin: auto;
                    border-radius: 10px;
                    position: relative;
                    transform-style: preserve-3d;
                    transition: all 1s ease-in-out;
                    &:hover{
                        transform: rotateY(180deg);
                    }
                    > div{
                        background-color: $whcolor;
                        width: 220px;
                        height: 230px;
                        @extend %abs-vertical;
                        left: -10px;
                        border-radius: 10px;
                        box-shadow: 0 0 5px rgba(#000000,.2);
                        &.front{
                            z-index: 2;
                            backface-visibility: hidden;
                        }
                        &.back{
                            z-index: 1;
                            transform: translateY(50%) rotateY(180deg);
                            backface-visibility: hidden;
                            background-color: $stcolor;
                            p{
                                color: $whcolor !important;
                                font-size: 15px;
                            }
                        }
                        div{
                            @extend %abs-vertical;
                            left: 0;
                            width: 100%;
                            padding: 10px;
                            text-align: center;
                        }
                        i{

                            &::before{
                                margin-left: 0;
                                color: $stcolor;
                                font-size: 60px;
                            }
                        }
                        p{
                            color: $textcolor;
                            margin-bottom: 0;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

.a{
    color: #fff
}
/* End result */


/* starting video */
.video{
    .container{
        @extend %main-paddcont;
        .row{
            > div{
                img{
                    height: 315px;
                    @media (min-width: 577px) and (max-width: 769px){
                        display: block;
                        margin: auto;
                    }
                }
                iframe{
                    width: 100%;
                }
            }
        }
    }
}
/* End video */


/* starting register */
.register{

    .container{
        @extend %main-paddcont;
    }
    form{
        width: 60%;
        margin: auto;
        padding: 20px;
        @media (max-width: 769px){
            width: 100%;
        }
        @media (min-width: 770px) and (max-width: 1199px){
            width: 80%;
        }
        .register-group{
            position: relative;
            margin-bottom: 20px;
            i{
                @extend %abs-vertical;
                left: 15px;
                color: $textcolor;
            }
            input{
                width: 100%;
                background-color: $whcolor;
                padding: 10px 10px 10px 50px;
                border: 1px solid $whcolor;
                border-radius: 5px;
                color: $textcolor;
                &::placeholder{
                    color: $textcolor;
                }
            }
            select{
                width: 100%;
                padding: 10px 10px 10px 50px;
                border: 1px solid $whcolor;
            }
        }
        .upsubmit{
            position: relative;
            width: 120px;
            margin: auto;
            @media (max-width: 576px){
                margin: 0px;
            }
            &:hover{
                i{
                    color: $stcolor;
                }
            }
            i{
                @extend %abs-vertical;
                right: -30px;
                color: $whcolor;
                transition: $main-transition;
            }
            input{
                padding-right: 50px;
            }
        }
    }
}
/* End register */


/* starting footer */
footer{
    .container{
        @extend %main-paddcont;
        .row{
            > div{
                padding: 0px 50px;
                @media (max-width: 769px){
                    margin-bottom: 30px;
                    padding: 0px 30px;
                }
                @media (min-width: 770px) and (max-width: 992px){
                    padding: 0px 10px;
                }
                img{
                    width: 85px;
                    margin-bottom: 20px;
                }
                p{
                    color: $textcolor;
                    a{
                        color: $textcolor;
                    }
                }
                h5{
                    margin-bottom: 88px;
                    color: $stcolor;
                    @media (max-width: 769px){
                        margin-bottom: 15px;
                    }
                    i{
                        margin-left: 10px;
                    }
                }

            }
        }
    }
}
/* End footer */


/* starting copyright */
.copyright{
    background: rgb(98,114,126);
    background: linear-gradient(180deg, rgba(98,114,126,1) 20%, rgba(36,75,104,1) 100%);
    .container{
        padding: 20px 0px;
        .row{
            > div{
                @media (max-width: 576px){
                    text-align: center;
                }
                &:last-of-type{
                    text-align: right;
                    @media (max-width: 576px){
                        text-align: center;
                    }
                }
                p{
                    margin-bottom: 0px;
                    color: $whcolor;
                    font-size: 15px;
                    @media (max-width: 576px){
                        margin-bottom: 10px;
                    }
                }
                a{
                    i{
                        width: 30px;
                        height: 30px;
                        text-align: center;
                        line-height: 30px;
                        border-radius: 50%;
                        margin: 0px 5px;
                        background-color: transparent;
                        color: $whcolor;
                        border: 1px solid $whcolor;
                        transition: $main-transition;
                        &:hover{
                            background-color: $whcolor;
                            color: $stcolor;
                        }
                    }
                }
            }
        }
    }
}
/* End copyright */


/* starting modal-video */
.modal-video{
    .modal-header{
        background-color: #F1F9FC;
    }
    .modal-body{
        background-color: #F1F9FC;
        iframe{
            height: 400px;
            width: 100%;
        }
    }
}
/* End modal-video */


/* starting */
/* End */


/* starting */
/* End */

/*@media (max-width: 576px)
@media (min-width: 577px) and (max-width: 769px)
@media (min-width: 770px) and (max-width: 992px)
@media (min-width: 993px) and (max-width: 1199px)*/
/* starting button-top */
#button-top{
    background-color: $stcolor;
    width: 45px;
    height: 45px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    display: none;
    cursor: pointer;
    border: 1px solid $whcolor;
    color: #fff;
    opacity: 0.8;
}
#button-top:hover i{
    opacity: 0.5;
}
/*  End button-top */

/* media query  */
@media (max-width: 320px)
{
    .container
    {
        max-width: 300px !important;
    }
}
@media (min-width: 360px)
{
    .container
    {
        max-width: 340px !important;
    }
}
@media (min-width: 410px){
    .container
    {
        max-width: 390px !important;
    }
}
@media (min-width: 576px)
{
    .container
    {
        max-width: 540px !important;
    }
}
@media (min-width: 769px)
   
{
    .container
    {
        max-width: 720px !important;
    }
}
@media (min-width: 992px)
 
{
    .container
    {
        max-width: 960px !important;
    }
}
@media (min-width: 1200px)
{
    .container
    {
        max-width: 1170px !important;
    }
}
/* End @media */

/* this coding created by web developer/ Ahmed fawzy mohamed */
/* personal email: ahmedfawzyalhegazy2020@gmail.com */
/* whatsapp: +201094848584 */
/* whatsapp: +201145476545 */
/* website: https://orion-comp.com/ */
/* formal email: info@orion-comp.com */
/* linkedin account: https://www.linkedin.com/in/ahmed-fawzy-mohamed-48a771202 */